.checkout-header{
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.logo-container img{
  width: 100px;
}
.checkout-label{
  font-size: 25px;
  font-weight: bold;
}
.checkout-product-quantity{
  color: rgb(0, 113, 133);
}

.cart-summary{
  display:grid;
  grid-template-columns: 1fr 350px;
  align-items: start;
  margin-top: 30px;
  column-gap:12px;
}

.product-info{
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.product-image-container img{
  max-width: 100%;
  max-height: 100%;
}

main{
  display: block;
  max-width: 1100px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.option1,.option2,.option3{
  display: grid;
  grid-template-columns: 23px 1fr;
  margin-top: 6px;
}

.Review{
  margin-top:60px;
  font-size: 20px;
  font-weight: bold;
}

.product1,.product2{
  border: 1px solid rgb(222, 222, 222);
  padding-bottom: 40px;
  margin-bottom: 10px;
}

.d-date{
  margin-top: 20px;
  margin-left: 20px;
  color: rgb(0, 118, 0);
  font-weight: bold;
  font-size: 20px;
}
.product-name{
  font-weight: bold;
  margin-bottom: 4px;
}
.product-price{
  color: rgb(177, 39, 4);
  font-weight: bold;
}
.update{
  color: #017cb6;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}
.quantity-input{
  width: 30px;
  display: none;
}

.save-quantity-link{
  display: none;
  color: #017cb6;
  cursor: pointer;
}

.is-editing-quantity .quantity-input{
  display: initial;

}
.is-editing-quantity .save-quantity-link{
  display: initial;
}
.delete{
  color: #017cb6;
  margin-left: 3px;
  cursor: pointer;
}

.choose-option{
  font-weight: bold;
}

.delivery-date{
  color: rgb(0, 118, 0);
  font-weight: 500;
}
.shipping-price{
  color: rgb(120, 120, 120);
  font-size: 15px;
}

.total-items-price,.shipping-handling-price,.total-before-tax,.total-tax,.order-total{
  display: flex;
  justify-content: space-between;
}
.cart-price{
  padding: 20px;
  border:1px solid rgb(222, 222, 222);
}

.order-summary{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.shipping-handling-price{
  margin-top: 5px;
}
.total-before-tax{
  margin-top: 15px;
  align-items: end;
}
.total-before-tax-price{
  border-top: 1px solid rgb(222, 222, 222);
  padding-top: 10px;
}
.total-tax{
  margin-top: 5px;
}
.order-total{
  color: rgb(177, 39, 4);;
  padding-top: 15px;
  margin-top: 5px;
  border-top:1px solid rgb(222, 222, 222);
  margin-bottom: 10px;
  font-weight: 700;
}
.place-order{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 15px;

}
.place-order button{
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color:rgb(255, 216, 20) ;
}